{% extends 'GroupedPurchaseOrder/base.html' %}
{% load static l10n i18n humanize bootstrap breadcrumbs %}

{% block title %}{% trans "Manufacturers" %}{% endblock %}

{% block nav-manufacturers %}active{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Home" "index" %}
  {% breadcrumb "Manufacturers" "manufacturers.index" %}
{% endblock %}

{% block body %}
<div class="page-header">
  <h2>{% trans "Manufacturers" %}
    {% bootstrap_button "new" icon='plus-sign' style='info' size='xs' href='manufacturers.create' %}
</div>

<div class="row">
  {% include 'GroupedPurchaseOrder/message.html' %}
</div>
<div class="row">
  <form class="form-horizontal" role="form" action="{% url 'manufacturers.index' %}">
    {% csrf_token %}
    <div class="form-group">
      <label for="id_name" class="col-md-2 control-label">Name</label>
      <div class="col-md-4">
	<input type="search" class="form-control" id="id_name"
	       name="name" placeholder="Name" value="{{ form.name.value }}">
      </div>
    </div>
    <div class="col-md-offset-2 col-md-4">
      <button type="submit" class="btn btn-primary">{% trans "Search" %}</button>
    </div>
  </form>
</div>
<div class="row">
  <div class="col-md-6">
    {% if manufacturers %}
      <table class="table table-striped">
        <thead>
          <tr>
            <th>{% trans "Name" %}</th>
          </tr>
        </thead>
        <tbody>
          {% for manufacturer in manufacturers %}
            <tr>
              <td><a href="{% url 'manufacturers.details' manufacturer.pk %}">{{ manufacturer.name }}</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>{% trans "No manufacturers" %}</p>
    {% endif %}
    {% include 'GroupedPurchaseOrder/pagination.html' %}
  </div>
</div>

{% endblock %}
