{% extends 'GroupedPurchaseOrder/base.html' %}
{% load static l10n i18n humanize bootstrap breadcrumbs %}

{% block title %}{% trans "Manufacturers" %}{% endblock %}

{% block nav-manufacturers %}active{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Home" "index" %}
  {% breadcrumb "Manufacturers" "manufacturers.index" %}
{% endblock %}

{% block body %}
<div class="page-header">
  <h2>{% trans "Manufacturers" %}
    {% bootstrap_button "new" icon='plus-sign' style='info' size='xs' href='manufacturers.create' %}
</div>

<div class="row">
  {% include 'GroupedPurchaseOrder/message.html' %}
  <div class="col-md-4">
    {% if manufacturers %}
      <table class="table table-striped">
        <thead>
          <tr>
            <th>{% trans "Name" %}</th>
            <th width="20%"></th>
          </tr>
        </thead>
        <tbody>
          {% for manufacturer in manufacturers %}
            <tr>
              <td><a href="{% url 'manufacturers.details' manufacturer.pk %}">{{ manufacturer.name }}</a></td>
              <td>
		{% url 'manufacturers.update' manufacturer.pk as update_url %}
		{% url 'manufacturers.delete' manufacturer.pk as delete_url %}
		{% bootstrap_icon_button 'pencil' title="update" style='info' size='xs' href=update_url %}
		{% bootstrap_modal_icon_button 'trash' '#deleteModal' manufacturer.pk title='delete' style='danger' size='xs' %}
                <div class="modal fade" id="deleteModal{{ manufacturer.pk }}" tabindex="-1" role="dialog"
		     aria-labelledby="deleteModal{{ manufacturer.pk }}Label" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
			{% bootstrap_close_button %}
                        <h3 class="modal-title" id="deleteModal{{ manufacturer.pk }}Label">{% trans "Delete manufacturer" %}</h3>
                      </div>
                      <div class="modal-body">
                        <p>{% blocktrans with manufacturer.name as name %}Are you sure you want to delete the manufacturer: «{{ name }}» ?{% endblocktrans %}</p>
                      </div>
                      <div class="modal-footer">
			{% bootstrap_dismiss_button 'Cancel' style='default' %}
			{% bootstrap_button 'Delete' style='danger' href=delete_url %}
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>{% trans "No manufacturers" %}</p>
    {% endif %}
    <nav>
      <ul class="pagination">
	{% if page_obj.has_previous %}
	  <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
	{% else %}
	  <li class="disabled"><span>&laquo;</span></li>
	{% endif %}
	{% for page_number in page_obj.paginator.page_range %}
 	  {% if page_obj.number == page_number %}
	    <li class="active"><span>{{ page_number }} <span class="sr-only">({% trans "current" %})</span></span></li>
	  {% else %}
	    <li><a href="?page={{ page_number }}">{{ page_number }}</a></li>
	  {% endif %}
	{% endfor %}
	{% if page_obj.has_next %}
	  <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
	{% else %}
	  <li class="disabled"><span>&raquo;</span></li>
	{% endif %}
      </ul>
    </nav>
    <small>{{ page_obj.start_index }} - {{ page_obj.end_index }}  / {{ page_obj.paginator.count }} manufacturers</small>
  </div>
</div>

{% endblock %}
