<!DOCTYPE html>
{% load static i18n bootstrap inbox %}
<html lang="{{ LANGUAGE_CODE }}" {% block np_app %}{% endblock %}>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>G.P.O. - {% block title %}{% endblock %}</title>
  <meta name="description" content="Grouped Purchase Order">
  <meta name="author" content="Fabrice Salvaire">

  <link href="{% get_static_prefix %}GroupedPurchaseOrder/css/bootstrap-v3.3.0.min.css" rel="stylesheet">
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <style>
    body {
      padding-top: 60px
    }
    {% block style %}{% endblock %}
  </style>
  {% block head %}{% endblock %}
</head>

<body>

<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
	<span class="sr-only">Toggle navigation</span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
      </button>
      <a href="{% url 'index' %}" class="navbar-brand">G.P.O.</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li class="{% block nav-index %}{% endblock %}">
	  <a href="{% url 'index' %}">{% bootstrap_icon 'home' %} {% trans "Home" %}</a></li>
        <li class="{% block nav-manufacturers %}{% endblock %}">
	  <a href="{% url 'manufacturers.index' %}">{% bootstrap_icon 'tasks' %} {%trans "Manufacturers" %}</a></li>
        <li class="{% block nav-suppliers %}{% endblock %}">
	  <a href="{% url 'suppliers.index' %}">{% bootstrap_icon 'tasks' %} {%trans "Suppliers" %}</a></li>
        <li class="{% block nav-orders %}{% endblock %}">
	  <a href="{% url 'orders.index' %}">{% bootstrap_icon 'tasks' %} {%trans "Orders" %}</a></li>
	{% comment %}
        <li class="{% block nav-help %}{% endblock %}"><a href="{% url
        'help.index' %}"><span class="glyphicon glyphicon-question-sign"></span>
        {% trans "Help" %}</a></li>
	{% endcomment %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
	  {# {{ messages_inbox_count }} #}
          <li class="dropdown {% block nav-account %}{% endblock %}">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
	      {% bootstrap_icon 'user' %} {{ user.get_full_name }} <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'messages_inbox' %}">
	        {% bootstrap_icon 'envelope' %} {% trans "Messages" %}</a></li>
              <li><a href="{% url 'accounts.profile' %}">
	        {% bootstrap_icon 'cog' %} {% trans "Profile" %}</a></li>
              <li class="divider"></li>
              <li> <a href="{% url 'accounts.logout' %}">
		  {% bootstrap_icon 'off' %} {% trans "Log out" %}</a></li>
            </ul>
          </li>
	  {% inbox_count as unread_message %}
	  {% if unread_message %}
	    <li><a href="{% url 'messages_inbox' %}"><span class="badge">{% bootstrap_icon 'envelope' %}
	      {{ unread_message }}</span></a></li>
	  {% endif %}
	  <li><a href="/admin" %}">{% bootstrap_icon 'wrench' %}</a></li>
        {% else %}
          <li class="{% block nav-login %}{% endblock %}"><a href="{% url 'accounts.login' %}">
	    {% bootstrap_icon 'user' %} {% trans "Log in" %}</a></li>
        {% endif %}
      </ul>
    </nav>
  </div>
</header>

{% load breadcrumbs %}
{% block breadcrumbs %}
  {% clear_breadcrumbs %}
{% endblock %}

<div class="container">
{% render_breadcrumbs %}
{% block content %}{% endblock %}
{% block sidebar %}{% endblock %}
{% block body %}{% endblock %}

<hr />
<footer>
  <p>&copy; GroupedPurchaseOrder 2014 / Fabrice Salvaire /
    <a href="https://github.com/FabriceSalvaire/grouped-purchase-order/releases/tag/v0.1">v0.1</a>
    <span class="pull-right"><a href="https://github.com/FabriceSalvaire/grouped-purchase-order">{% trans "About" %}</a></span>
  </p>
</footer>
</div>

<script src="{% get_static_prefix %}GroupedPurchaseOrder/js/jquery.min.js"></script>
<script src="{% get_static_prefix %}GroupedPurchaseOrder/js/bootstrap-v3.3.0.min.js"></script>
{% block script %}{% endblock %}
</body>
</html>
