{% extends 'GroupedPurchaseOrder/base.html' %}
{% load static l10n i18n bootstrap breadcrumbs %}

{% block title %}{% blocktrans with order.name as name %}Order «{{ name }}»{% endblocktrans %}{% endblock %}

{% block nav-orders %}active{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Home" "index" %}
  {% breadcrumb "Orders" "orders.index" %}
  {% breadcrumb order.name "orders.details" order.pk %}
{% endblock %}

{% block body %}
<h2>{{ order.name }}
  <small><a href="{% url 'orders.update' order.pk %}">({% trans "update" %})</a></small></h2>

<div class="row">
  {% include 'GroupedPurchaseOrder/message.html' %}
</div>
<div class="row">
  <div class="col-md-6">
    <dl class="dl-horizontal">
      <dt>{% trans "Manager" %}</dt>
      <dd>{{ order.manager }}</dd>
      <dt>{% trans "Total" %}</dt>
      <dd>{{ order.total }}</dd>
    </dl>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    {% if order.user_orders %}
      <a href="{% url "orders.csv" order.pk %}">{% bootstrap_icon 'file' %} CSV</a>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Product" %}</th>
            <th>{% trans "Order Code" %}</th>
            <th>{% trans "Quantity" %}</th>
            <th>{% trans "Unit Price" %}</th>
            <th>{% trans "Line Price" %}</th>
            <th width="20%"></th>
          </tr>
        </thead>
        <tbody>
          {% for user_order in order.user_orders %}
            {% for product_order in user_order.product_orders %}
	      {% with supplier_product=product_order.supplier_product %}
              <tr>
		<td>{{ user_order.profile.user }}</td>
		<td>{{ supplier_product.product }}</td>
		{% if supplier_product.url %}
		<td><a href="{{ supplier_product.url }}" target="_blank">{{ supplier_product.order_code }}</a></td>
		{% else %}
		<td>{{ supplier_product.order_code }}</td>
		{% endif %}
		<td>{{ product_order.quantity }}</td>
		<td>{{ supplier_product.price }}</td>
		<td>{{ product_order.total }}</td>
		<td>
		  {% url 'product_orders.update' product_order.pk as update_url %}
		  {% url 'product_orders.delete' product_order.pk as delete_url %}
		  {% bootstrap_icon_button 'pencil' title="update" style='info' size='xs' href=update_url %}
		  {% bootstrap_modal_icon_button 'trash' '#deleteModal' product.pk title='delete' style='danger' size='xs' %}
                  <div class="modal fade" id="deleteModal{{ product.pk }}" tabindex="-1" role="dialog"
		       aria-labelledby="deleteModal{{ product.pk }}Label" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
		  	{% bootstrap_close_button %}
                          <h3 class="modal-title" id="deleteModal{{ product.pk }}Label">{% trans "Delete product" %}</h3>
                        </div>
                        <div class="modal-body">
                          <p>{% blocktrans with product_order.supplier_product.product as name %}Are you sure you want to delete the product: «{{ name }}» ?{% endblocktrans %}</p>
                        </div>
                        <div class="modal-footer">
		  	{% bootstrap_dismiss_button 'Cancel' style='default' %}
		  	{% bootstrap_button 'Delete' style='danger' href=delete_url %}
                        </div>
                      </div>
                    </div>
                  </div>
		</td>
              </tr>
            {% endwith %}
            {% endfor %}
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>{% trans "No products" %}</p>
    {% endif %}
    {# {% include 'GroupedPurchaseOrder/pagination.html' %} #}
  </div>
</div>
{% endblock %}
