{% extends 'GroupedPurchaseOrder/base.html' %}
{% load static l10n i18n bootstrap breadcrumbs %}

{% block np_app %}ng-app="order_details"{% endblock %}

{% block title %}{% blocktrans with order.name as name %}Order «{{ name }}»{% endblocktrans %}{% endblock %}

{% block nav-orders %}active{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Home" 'index' %}
  {% breadcrumb "Orders" 'orders.index' %}
  {% breadcrumb order.name 'orders.details' order.pk %}
{% endblock %}

{% block body %}
<div class="page-header">
  <h2>{{ order.name }}
    <small><a href="{% url 'orders.update' order.pk %}">({% trans "update" %})</a></small></h2>
</div>

<div class="row">
  {% include 'GroupedPurchaseOrder/message.html' %}
</div>
<div class="row">
  <div class="col-md-4">
    <dl class="dl-horizontal">
      <dt>{% trans "Manager" %}</dt>
      <dd>{{ order.manager }}</dd>
      <dt>{% trans "Order date" %}</dt>
      <dd>{{ order.order_date }}</dd>
      <dt>{% trans "Delivery date" %}</dt>
      <dd>{{ order.delivery_date }}</dd>
    </dl>
  </div>
  <div class="col-md-4">
    <dl class="dl-horizontal">
      <dt>{% trans "Minimum purchase" %}</dt>
      {% if order.minimum_purchase_reached %}
	<dd class="text-success">{% bootstrap_icon 'ok' %}</dd>
      {% else %}
	<dd class="text-danger">{% bootstrap_icon 'ban-circle' %}</dd>
      {% endif %}
      <dt>{% trans "Free shipment threshold" %}</dt>
      {% if order.free_shipment_threshold_reached %}
	<dd class="text-success">{% bootstrap_icon 'ok' %}</dd>
      {% else %}
	<dd class="text-danger">{% bootstrap_icon 'ban-circle' %}</dd>
      {% endif %}
    </dl>
  </div>
  <div class="col-md-3">
    <dl class="dl-horizontal">
      <dt>{% trans "Ex. Total" %}</dt>
      <dd class="text-right">{{ order.total }}</dd>
      <dt>{% trans "Shipping rate" %}</dt>
      <dd class="text-right">{{ order.shipping_rate }}</dd>
      <dt>{% trans "VAT tax" %}</dt>
      <dd class="text-right">{{ order.vat_tax }}</dd>
      <dt>{% trans "Duty tax" %}</dt>
      <dd class="text-right">{{ order.duty_tax }}</dd>
      <dt>{% trans "Total" %}</dt>
      <dd class="text-right">{{ order.total }}</dd>
    </dl>
  </div>
</div>
<div class="row">
  <div class="col-md-12" ng-controller="ModalController">
    {% if order.user_orders %}
      <a href="{% url "orders.csv" order.pk %}">{% bootstrap_icon 'file' %} CSV</a>

      <script type="text/ng-template" id="DeleteModalContent.html">
	<div class="modal-header">
	  <button class="close" data-dismiss="modal" type="button" ng-click="cancel()">
	    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	  <h3 class="modal-title">{% trans "Delete product" %}</h3>
	</div>
        <div class="modal-body">
          {# {% blocktrans with ... as name %}Are you sure you want to delete the product: "{{ name }}" ?{% endblocktrans %} #}
	  <p>{% trans 'Are you sure you want to delete the product: "' %}{% verbatim %}{{ description }}{% endverbatim %}{% trans '" ?' %} </p>
        </div>
	<div class="modal-footer">
	  <button class="btn btn-default" ng-click="cancel()">{% trans 'Cancel' %}</button>
	  <button class="btn btn-danger" ng-click="ok()">{% trans 'Delete' %}</button>
	</div>
      </script>

      <script type="text/ng-template" id="UpdateModalContent.html">
	<div class="modal-header">
	  <h3 class="modal-title">{% trans "Update product" %}</h3>
	</div>
        <div class="modal-body">
	  <form class="form-horizontal" role="form">
	    <div class="row">
	      <div class="col-md-6">
		<div class="form-group">
		  <label class="col-md-4 control-label" for="id_quantity">Quantity</label>
		  <div class="col-md-8">
		    <input class="form-control" id="id_quantity" min="0" name="quantity" type="number"
			   value="{% verbatim %}{{ quantity }}{% endverbatim %}" />
		  </div>
		</div>
	    </div>
	  </form>
        </div>
	<div class="modal-footer">
	  <button class="btn btn-default" ng-click="cancel()">{% trans 'Cancel' %}</button>
	  <button class="btn btn-danger" ng-click="ok()">{% trans 'OK' %}</button>
	</div>
      </script>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Product" %}</th>
            <th>{% trans "Order Code" %}</th>
            <th>{% trans "Quantity" %}</th>
            <th>{% trans "Unit Price" %}</th>
            <th>{% trans "Line Price" %}</th>
            <th width="20%"></th>
          </tr>
        </thead>
        <tbody>
          {% for user_order in order.user_orders %}
            {% for product_order in user_order.product_orders %}
	      {% with supplier_product=product_order.supplier_product %}
	      {% with product=supplier_product.product %}
              <tr>
		<td>{{ user_order.profile.user }}</td>
		<td><a href="{% url 'products.details' product.pk %}">{{ product }}</a></td>
		{% if supplier_product.url %}
		<td><a href="{{ supplier_product.url }}" target="_blank">{{ supplier_product.order_code }}</a></td>
		{% else %}
		<td>{{ supplier_product.order_code }}</td>
		{% endif %}
		<td>{{ product_order.quantity }}</td>
		<td>{{ supplier_product.price }}</td>
		<td>{{ product_order.total }}</td>
		{% if user_order.profile == profile %}
		<td>
		  {% url 'product_orders.delete' product_order.pk as delete_url %}
		  <button class="btn btn-info btn-xs"
			  ng-click="open_update('{{ product }}',
                                                '{{ product_order.quantity }}',
                                                '{% url 'product_orders.update_xhr' product_order.pk %}',
			                        '{% url 'orders.details' order.pk %}')">
		    {% bootstrap_icon 'pencil' %}</button>
		  <button class="btn btn-danger btn-xs"
			  ng-click="open_delete('{{ supplier_product.product }}', '{{ delete_url }}')">
		    {% bootstrap_icon 'trash' %}</button>
		</td>
		{% endif %}
              </tr>
            {% endwith %}{% endwith %}
            {% endfor %}
          {% endfor %}
        </tbody>
      </table>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Total" %}</th>
            <th>{% trans "Payed" %}</th>
            <th width="20%"></th>
          </tr>
        </thead>
        <tbody>
          {% for user_order in order.user_orders %}
            <tr>
	      <td>{{ user_order.profile.user }}</td>
	      <td>{{ user_order.total }}</td>
	      {% if user_order.payed %}
		<td class="text-success">{% bootstrap_icon 'ok' %}</td>
	      {% else %}
		<td class="text-danger">{% bootstrap_icon 'warning-sign' %}</td>
	      {% endif %}
	      {% url 'user_orders.update' user_order.pk as update_url %}
	      <td>{% bootstrap_icon_button 'pencil' title="update" style='info' size='xs' href=update_url %}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

    {% else %}
      <p>{% trans "No products" %}</p>
    {% endif %}
    {# {% include 'GroupedPurchaseOrder/pagination.html' %} #}
  </div>
</div>
{% endblock %}

{% block script %}
  <script src="{% get_static_prefix %}GroupedPurchaseOrder/js/angular.min.js"></script>
  <script src="{% get_static_prefix %}GroupedPurchaseOrder/js/ui-bootstrap-tpls-0.12.0.min.js"></script>
  <script type="text/javascript" src="{% static 'django_ajax/js/jquery.ajax.js' %}"></script>
  <script src="{% get_static_prefix %}GroupedPurchaseOrder/js-gpo/order_details.js"></script>
{% endblock %}
