{% extends 'GroupedPurchaseOrder/base.html' %}
{% load static l10n i18n humanize %}

{% block title %}{% trans "Orders" %}{% endblock %}

{% block nav-orders %}active{% endblock %}

{% load breadcrumbs %}
{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Home" "index" %}
  {% breadcrumb "Orders" "orders.index" %}
{% endblock %}

{% block body %}
<div class="page-header">
  <h2>{% trans "Orders" %}
    <a class="btn btn-info btn-xs" href="{% url 'orders.create' %}">
    <span class="glyphicon glyphicon-plus-sign"></span>
    {% trans "new" %}</a></h2>
</div>

<div class="row">
  {% include 'GroupedPurchaseOrder/message.html' %}
  <div class="col-md-4">
    {% if orders %}
      <table class="table table-striped">
        <thead>
          <tr>
            <th>{% trans "Name" %}</th>
          </tr>
        </thead>
        <tbody>
          {% for order in orders %}
            <tr>
              <td><a href="{% url 'orders.details' order.pk %}">{{ order.name }}</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>{% trans "No orders" %}</p>
    {% endif %}
  </div>
</div>

{% endblock %}
