{% extends 'GroupedPurchaseOrder/base.html' %}
{% load i18n bootstrap breadcrumbs %}

{% block title %}{% trans "Main Page" %}{% endblock %}

{% block nav-index %}active{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Home" "index" %}
{% endblock %}

{% block body %}
<div class="jumbotron">
  <h1>G.P.O.</h1>
  <p class="lead">{% trans "Lorem ipsum dolor sit amet, consectetur adipiscing elit." %}</p>
  {% if user.is_authenticated %}
    {% bootstrap_button "Manufacturers" style='success' size='lg' href='manufacturers.index' %}
    {% bootstrap_button "Suppliers" style='success' size='lg' href='suppliers.index' %}
    {% bootstrap_button "Orders" style='success' size='lg' href='orders.index' %}
  {% else %}
    {% bootstrap_button "Log in" style='success' size='lg' href='accounts.login' %}
  {% endif %}
</div>

<hr />

<div class="row">
  <div class="col-md-4">
    <h2>{% trans "Subscribe" %}</h2>
    <p>{% trans "Create an account on G.P.O." %}</p>
    <a class="btn btn-default" href="{% url 'accounts.register' %}">{% trans "Register »" %}</a>
  </div>
</div>
{% endblock %}
