{% extends 'GroupedPurchaseOrder/base.html' %}
{% load i18n %}

{% block title %}{% trans "Confirm" %}{% endblock %}

{% block nav-login %}active{% endblock %}

{% block head %}
  <meta http-equiv="refresh" content="5;url={% url 'accounts.login' %}">
{% endblock %}

{% load breadcrumbs %}
{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Home" "index" %}
  {% breadcrumb "Account" "accounts.profile" %}
  {% breadcrumb "Confirm" "" %}
{% endblock %}

{% block body %}
<div class="page-header">
  <h1>{% trans "Registration confirmed" %}</h1>
</div>

<div class="row">
  <div class="col-md-12">
    <p class="lead">{% trans "Thanks for registering to G.P.O." %}</p>
    {% url 'accounts.login' as URL %}
    <p>{% blocktrans %}You will be <a href="{{ URL }}">redirected</a> to the login page in 5 seconds ...{% endblocktrans %}</p>
  </div>
</div>
{% endblock %}
