{% extends 'GroupedPurchaseOrder/base.html' %}
{% load humanize i18n %}

{% block title %}{% trans "Profile" %}{% endblock %}

{% block nav-account %}active{% endblock %}

{% load breadcrumbs %}
{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Home" "index" %}
  {% breadcrumb "Account" "" %}
{% endblock %}

{% block body %}
<div class="page-header">
  <h2>{% trans "My profile" %}</h2>
</div>

<div class="row">
  {% if messages %}
  <div class="col-md-12">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags|default:'danger' }}">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>{{ message.tags|default:'danger'|capfirst }}:</strong> {{ message }}
    </div>
    {% endfor %}
  </div>
  {% endif %}

  <div class="col-md-12">
    {% url 'accounts.profile.update' as URL %}
    <h3>{% trans "Information" %}
      <a class="btn btn-info btn-xs" href="{% url 'accounts.profile.update' %}">
	<span class="glyphicon glyphicon-wrench"></span> {% trans "update" %}</a>
      <a class="btn btn-info btn-xs" href="{% url 'notification_notice_settings' %}">
	<span class="glyphicon glyphicon-wrench"></span> {% trans "notification settings" %}</a></h3>
    <div class="row">
      <div class="col-md-6">
        <dl class="dl-horizontal">
          <dt>{% trans "Name" %}</dt>
          <dd>{{ user.get_full_name }}</dd>
          <dt>{% trans "email" %}</dt>
          <dd>{{ user.email }}</dd>
          <dt>{% trans "Phone number" %}</dt>
          <dd>{{ user.profile.phone_number|default:"?" }}{% if user.profile.provider %} ({{ user.profile.get_provider_display }}){% endif %}</dd>
          <dt>{% trans "Password" %}</dt>
          <dd><a href="{% url 'accounts.password_change' %}">
	    <span class="glyphicon glyphicon-lock"></span> {% trans "update" %}</a></dd>
        </dl>
      </div>
      <div class="col-md-6">
        <dl class="dl-horizontal">
          <dt>{% trans "Language" %}</dt>
          {% if user.profile.get_language_display %}
          <dd>{% trans user.profile.get_language_display %}</dd>
          {% else %}
          <dd>{% trans "undefined" %}</dd>
          {% endif %}
          <dt>{% trans "Timezone" %}</dt>
          <dd>{{ user.profile.timezone }}</dd>
        </dl>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <h3>{% trans "Deleting my account" %}</h3>
    <p>{% trans "If you want to remove your account, just click on the folowing button. Be careful as it will permanently remove all your outings and personal data." %}</p>
    <button class="btn btn-danger" data-toggle="modal" data-target="#deleteAccountModal" title="{% trans "delete" %}">{% trans "Deleting my account" %}</button>
    <div class="modal fade" id="deleteAccountModal" tabindex="-1" role="dialog" aria-labelledby="deleteAccountModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 class="modal-title" id="deleteAccountModalLabel">{% trans "Deleting my account" %}</h3>
          </div>
          <div class="modal-body">
            <p>{% trans "Are you sure you want to delete your account? It will permanently delete all your outings along with your personal data." %}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
            <a class="btn btn-danger" href="{% url 'accounts.delete' %}">{% trans "Deleting my account" %}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
