{% extends "GroupedPurchaseOrder/base.html" %} 
{% load i18n bootstrap %} 

{% block title %}{% trans "Messages" %}{% endblock %}

{% block nav-orders %}active{% endblock %}

{% load breadcrumbs %}
{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Home" "index" %}
  {% breadcrumb "Messages" "messages_inbox" %}
{% endblock %}

{% block content %}
{% include 'GroupedPurchaseOrder/message.html' %}

<ul class="nav nav-pills" role="tablist">
  <li role="presentation" class="active"><a href="{% url 'messages_inbox' %}">{% trans "Inbox" %}</a></li>
  <li role="presentation"><a href="{% url 'messages_outbox' %}">{% trans "Sent Messages" %}</a></li>
  <li role="presentation"><a href="{% url 'messages_compose' %}">{% trans "New Message" %}</a></li>
  <li role="presentation"><a href="{% url 'messages_trash' %}">{% trans "Trash" %}</a></li>
</ul>
  
<div class="row">
  <div class="col-md-12">
    {% if message_list %} 
      <table class="table table-striped">
	<thead>
	  <tr>
	    <th>{% trans "Sender" %}</th>
	    <th>{% trans "Status" %}</th>
	    <th>{% trans "Subject" %}</th>
	    <th>{% trans "Received" %}</th>
	    <th>{% trans "Action" %}</th>
	  </tr>
	</thead>
	<tbody>
	  {% for message in message_list %} 
	    <tr {% if message.new %}class="warning"{% endif %}>
              <td>{{ message.sender }}</td>
              <td>
		{% if message.new %}{% bootstrap_icon 'eye-close' %}{% endif %}
		{% if message.replied %}{% bootstrap_icon 'send' %}{% endif %}
		{% if not message.new and not message.replied %}{% bootstrap_icon 'eye-open' %}{% endif %}
	      </td>
              <td><a href="{{message.get_absolute_url }}">{{ message.subject }}</a></td>
              <td>{{ message.sent_at|date:_("DATETIME_FORMAT") }}</td>
	      {% url 'messages_delete' message.id as delete_url %}
	      <td>{% bootstrap_icon_button 'trash' title="Delete" style='danger' size='xs' href=delete_url %}</td>
	    </tr>
	  {% endfor %}
	</tbody>
      </table>
    {% else %}
      <p>{% trans "No messages." %}</p>
    {% endif %}
  </div>
</div>
{% endblock %}
