{% extends 'GroupedPurchaseOrder/base.html' %}
{% load static l10n i18n %}

{% block title %}{% blocktrans with supplier.name as name %}Supplier «{{ name }}»{% endblocktrans %}{% endblock %}

{% block nav-suppliers %}active{% endblock %}

{% load breadcrumbs %}
{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Home" "index" %}
  {% breadcrumb "Suppliers" "suppliers.index" %}
  {% breadcrumb supplier.name "suppliers.details" supplier.pk %}
{% endblock %}

{% block body %}
<h2>{{ supplier.name }}
  <small><a href="{% url 'suppliers.update' supplier.pk %}">({% trans "update" %})</a></small></h2>

<div class="row">
  {% include 'GroupedPurchaseOrder/message.html' %}

  <div class="col-md-6">
    <dl class="dl-horizontal">
      <dt>{% trans "Description" %}</dt>
      <dd>{{ supplier.description }}</dd>
    </dl>
  </div>
</div>
{% endblock %}
