{% extends 'GroupedPurchaseOrder/base.html' %}
{% load static l10n i18n humanize %}
{% load bootstrap %}

{% block title %}{% trans "Suppliers" %}{% endblock %}

{% block head %}
<script type="text/javascript" src="{% static 'GroupedPurchaseOrder/js/jquery-v1.11.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'django_ajax/js/jquery.ajax.js' %}"></script>
<script type="text/javascript">
 function hello_callback()
 {
   ajaxGet('/ajax/hello', function(content)
	   {
	     //onSuccess
	     // alert(content.result);
	     $("ul#foo").append("<li>" + content.result + "</li>"); 
	   })
 }
 function bye_callback()
 {
   ajaxPost('/ajax/bye', {'foo': 'bar'}, function(content)
	   {
	     //onSuccess
	     // alert(content.result);
	     $("ul#foo li:last").remove(); 
	     $("ul#foo li:last").append(' ' + content.result); 
	   })
 }
</script>
{% endblock %}

{% block nav-suppliers %}active{% endblock %}

{% load breadcrumbs %}
{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Home" "index" %}
  {% breadcrumb "Suppliers" "suppliers.index" %}
{% endblock %}

{% block body %}
<div class="page-header">
  <h2>{% trans "Suppliers" %}
    <a class="btn btn-info btn-xs" href="{% url 'suppliers.create' %}">
      {% bootstrap_icon 'plus-sign' %}
    {% trans "new" %}</a></h2>
</div>

<ul id="foo">
</ul>
<button class="btn btn-xs" onclick="hello_callback()">{% trans "hello" %}</button>
<button class="btn btn-xs btn-danger" onclick="bye_callback()">{% trans "bye" %}</button>

<div class="row">
  {% include 'GroupedPurchaseOrder/message.html' %}
  <div class="col-md-4">
    {% if suppliers %}
      <table class="table table-striped">
        <thead>
          <tr>
            <th>{% trans "Name" %}</th>
            <th width="20%"></th>
          </tr>
        </thead>
        <tbody>
          {% for supplier in suppliers %}
            <tr>
              <td><a href="{% url 'suppliers.details' supplier.pk %}">{{ supplier.name }}</a></td>
              <td>
		<a class="btn btn-xs btn-info" href="{% url 'suppliers.update' supplier.pk %}" title="{% trans "update" %}">
		  {% bootstrap_icon 'pencil' %}</a>
		<button class="btn btn-xs btn-danger" data-toggle="modal" data-target="#deleteModal{{ supplier.pk }}"
			title="{% trans "delete" %}">
		  {% bootstrap_icon 'trash' %}</button>
                <div class="modal fade" id="deleteModal{{ supplier.pk }}" tabindex="-1" role="dialog"
		     aria-labelledby="deleteModal{{ supplier.pk }}Label" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
			  <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h3 class="modal-title" id="deleteModal{{ supplier.pk }}Label">{% trans "Delete supplier" %}</h3>
                      </div>
                      <div class="modal-body">
                        <p>{% blocktrans with supplier.name as name %}Are you sure you want to delete the supplier: «{{ name }}» ?{% endblocktrans %}</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
                        <a class="btn btn-danger" href="{% url 'suppliers.delete' supplier.pk %}">{% trans "Delete" %}</a>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>{% trans "No suppliers" %}</p>
    {% endif %}
  </div>
</div>

{% endblock %}
