{% extends 'GroupedPurchaseOrder/base.html' %}
{% load static l10n i18n humanize %}
{% load bootstrap %}

{% block title %}{% trans "Suppliers" %}{% endblock %}

{% block nav-suppliers %}active{% endblock %}

{% block breadcrumb %}
  <li><a href="{% url 'index' %}">{% trans "Home" %}</a></li>
  <li class="active">{% trans "Suppliers" %}</li>
{% endblock %}

{% block body %}
<div class="page-header">
  <h2>{% trans "Suppliers" %}
    <a class="btn btn-info btn-xs" href="{% url 'suppliers.create' %}">
      {% bootstrap_icon 'plus-sign' %}
    {% trans "new" %}</a></h2>
</div>

<div class="row">
  {% include 'GroupedPurchaseOrder/message.html' %}
  <div class="col-md-4">
    {% if suppliers %}
      <table class="table table-striped">
        <thead>
          <tr>
            <th>{% trans "Name" %}</th>
            <th width="20%"></th>
          </tr>
        </thead>
        <tbody>
          {% for supplier in suppliers %}
            <tr>
              <td><a href="{% url 'suppliers.details' supplier.pk %}">{{ supplier.name }}</a></td>
              <td>
		<a class="btn btn-xs btn-info" href="{% url 'suppliers.update' supplier.pk %}" title="{% trans "update" %}">
		  {% bootstrap_icon 'pencil' %}</a>
		<button class="btn btn-xs btn-danger" data-toggle="modal" data-target="#deleteModal{{ supplier.pk }}"
			title="{% trans "delete" %}">
		  {% bootstrap_icon 'trash' %}</button>
                <div class="modal fade" id="deleteModal{{ supplier.pk }}" tabindex="-1" role="dialog"
		     aria-labelledby="deleteModal{{ supplier.pk }}Label" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
			  <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h3 class="modal-title" id="deleteModal{{ supplier.pk }}Label">{% trans "Delete supplier" %}</h3>
                      </div>
                      <div class="modal-body">
                        <p>{% blocktrans with supplier.name as name %}Are you sure you want to delete the supplier: «{{ name }}» ?{% endblocktrans %}</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
                        <a class="btn btn-danger" href="{% url 'suppliers.delete' supplier.pk %}">{% trans "Delete" %}</a>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>{% trans "No suppliers" %}</p>
    {% endif %}
  </div>
</div>

{% endblock %}
